.places-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 3vh;
}

.places-list-item {
  padding: 1rem;
  width: 23%;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 0.8rem;
}

.places-list-item img {
  width: 100%;
}

.places-list-item-place {
  font-size: 1rem;
  font-weight: bold;
  width: 18vw;
  margin-top: 0.4rem;
}

.places-list-item-country {
  margin-bottom: 0.4rem;
}

.places-list-results {
  margin-bottom: 2vh;
  font-style: italic;
}
