.region-page-countries {
  display: flex;
  flex-wrap: wrap;
  gap: 0.1rem;
}

.region-page-country {
  padding: 0.5rem 0.5rem;
  border-radius: 5px;
  background-color: #99ccf3;
}

.region-page-countries-title {
  padding: 1rem 0.5rem;
  font-weight: bold;
}

.region-page-countries-list {
  margin-bottom: 5vh;
}
